.bottom-container {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 20px 0;
}

.bottom-container .delete {
  color: #fff;
  font-weight: 600;
  background-color: #000;
  border: 2px solid #000;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.delete:hover {
  transform: scale(1.1);
}

.pagination-controls {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.prev:hover {
  transform: scale(1.1);
  background-color: #000;
  color: #fff;
}

.next:hover {
  transform: scale(1.1);
  background-color: #000;
  color: #fff;
}

.page-numbers {
  display: flex;
  gap: 10px;
  align-items: center;
}

.page-numbers button:hover {
  transform: scale(1.1);
  background-color: #000;
  color: #fff;
}

.page-numbers .active {
  background-color: #000;
  color: #fff;
}

.pagination-controls button {
  font-weight: 600;
  background-color: #edf2fa;
  border-radius: 5px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .bottom-container {
    flex-direction: column;
    gap: 20px;
  }

  .pagination-controls {
    position: relative;
    left: 0;
    transform: translate(0);
  }
}
